<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FriendMoment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD03FE0E1C991DFD00139B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD03FE271C991DFE00139B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD03FE321C991DFE00139B58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
